/*background-color: #fff;
color: #333;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 18px;
margin: 33px;
}
p {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 18px;
margin: 33px;
}
strong {
font-weight: bold;
}
form {
display: block;
marigin top: 0em;
}
.actions {
display: block;
margin-bottom: 10px;
}*/